# ===============================
# OpenAI / LLM API
# ===============================
OPENAI_API_KEY=your-openai-api-key

# ===============================
# Project Info
# ===============================
PROJECT_NAME=Your_Project_Name

# ===============================
# Redis
# ===============================
REDIS_URL=redis://redis:6379/3

# ===============================
# App Base URL
# ===============================
APP_BASE_URL=http://localhost:8080/